.Card {
  background-color: var(--white);
  width: 17rem;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  margin: auto;

  box-shadow: 0px 10px 20px var(--grayish-blue);
  font-family: "Outfit", sans-serif;
  transition: all 0.15s ease-in;
}
.Card:hover {
  transform: translateY(-6px);
}
.Card:active {
  transform: translateY(-3px);
}

.Qr-code {
  width: 90%;
  margin: 5% 5% 0 auto;
  border-radius: 10px;
}

.Card-Body {
  width: 90%;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
}
.Card-Body h3 {
  font-weight: 700;
  color: var(--dark-blue);
}

.Card-Body p {
  font-weight: 400;
  font-size: 15px;
  color: var(--grayish-blue);
}
